
/* alter names class */
/*

portfolioFilter = portfolio-menu

*/

.portfolio-menu a{
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 4px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 3px 12px;
    font-size: 14px;
    background-color: #7F8C8D;
    color: #fff;
    text-decoration: none;
}

.portfolio-menu a:hover {
    background-color: #2C3E50;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.portfolio-menu a.current{ 
    background-color: #34495E;
}

.portfolioContainer img{
    width: 228px;
    height: 160px;
    margin: 0px 10px 10px 0;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.portfolioContainer{
    margin: 8px 0 0;
}

.isotope-item .info{
    display: none;
    width: 228px;
    height: 160px;
    position: absolute;
    top: 0px;
    left: 0px;
    background:url(../img/shadow.png) repeat;
    z-index: 9999999;
}

.isotope .isotope-item:hover .info{
    display: block !important;
    width: 228px;
    height: 160px;
    position: absolute;
    top: 0px;
    left: 0px;
    background:url(../img/shadow.png) repeat;
    z-index: 9999999;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.isotope-item .info .open{
    position: relative;
    top: 50%;
}

.isotope-item .info .open i{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -38px;
    color: #fff;
    background-color: #7F8C8D;
    font-size: 24px;
    padding: 6px 7px 6px 8px;
}

.isotope-item .info .link i{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: 2px;
    color: #fff;
    background-color: #7F8C8D;
    font-size: 24px;
    padding: 7px 8px 5px 7px;
}

.isotope-item .info i a{
    color: #fff;
    text-decoration: none;
}